[Unit]
Description=Hermes runtime container %i
Requires=hermes-agent-openviking.service
After=hermes-agent-openviking.service
PartOf=hermes-agent@%i.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/systemd.env
WorkingDirectory=%S/state
Restart=always
KillMode=none
Type=notify
NotifyAccess=all
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStartPre=/usr/local/bin/runagent sync-agent-runtime --agent-id %i
ExecStartPre=/usr/local/bin/runagent ensure-openviking-tenant --agent-id %i
ExecStartPre=-/usr/bin/podman rm --force hermes-agent-hermes-%i
ExecStart=/usr/bin/podman run \
    --name hermes-agent-hermes-%i \
    --replace \
    --rm \
    --sdnotify=conmon \
    --cgroups=no-conmon \
    --volume hermes-agent-hermes-data-%i:/opt/data:z \
    --env-file %S/state/agent-%i.env \
    --env-file %S/state/agent-%i_secrets.env \
    --tz=${TIMEZONE} \
    ${HERMES_AGENT_HERMES_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --time 10 hermes-agent-hermes-%i
ExecStopPost=-/usr/bin/podman rm --force hermes-agent-hermes-%i
TimeoutStopSec=70

[Install]
WantedBy=default.target